* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--color-4);
}

#content {
  min-height: calc(100vh - 129px);
}

.sign-in-form {
  background: var(--color-3);
  width: 400px;
  min-height: 670px;
  position: relative;
  top: 15px;
  margin: auto;
  overflow-x:hidden;
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  -webkit-transition: height .5s;
  transition: height .5s;
}

.slider-div {
  width: 220px;
  margin: 50px auto;
  position: relative;
  border-radius: 20px;
  background: white;
}

.toggle-btn {
  left: 5px;
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: black;
}

#slider {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: var(--color-2);
  border-radius: 20px;
  transition: .8s;
}

.user-input {
  top: 125px;
  position: absolute;
  width: 280px;
  transition: .8s;
}

.input-field {
  margin: 5px 5px 5px 0px;
  width: 100%;
  padding: 5px 0;
  border: 0;
  border-bottom: 1px solid rgba(90, 90, 90, 0.4);
  outline: none;
  background: var(--color-3);
  font-size: 14px;
}

.input-field.valid{
  border-bottom: 1px solid rgba(13, 241, 32, 0.5);
}

.input-field.invalid{
  border-bottom: 2px solid rgba(250, 13, 13, 0.5);
}

.message{
  font-size: 11px;
  color: red;
}

.submit-btn {
  width: 60%;
  padding: 10px;
  bottom: 15px;
  cursor: pointer;
  display: block;
  position: relative;
  margin: auto;
  background: var(--color-2);
  border: 0;
  font-size: 14px;
  outline: 0;
  border-radius: 20px;
}

.tickbox {
  margin: 13px 8px 33px 5px;
}

span {
  color: black;
  font-size: 14px;
  bottom: 68px;
  position: absolute;
}

#login {
  left: 65px;
}

#register {
  left: 410px;
}

.terms-and-conditions {
  text-decoration: none;
  color: var(--color-5);
}

.terms-and-conditions:hover {
  text-decoration: underline solid var(--color-5);
  cursor: pointer;
}

.button,
.button:active,
.button:visited,
.button:hover {
  text-decoration: none;
  color: black;
}

.logo {
  top: 19px;
  position: absolute;
  width: 100px;
  margin: auto;
}

#hidden-div {
  visibility: hidden;
  width: 30%;
}